@media screen and (max-width:800px) {

    .mountain-img{
        width: 100%;
    }
    .bottom-cloud{
        bottom: 200px;
        left: 60px;
    }
    .top-cloud{
        right: 80px;
    }
    .intro{
        width: 60%;
    }
    .skill-row{
        width: 70%; 
    }
    .contact-message{
        width: 60%;
    }
    .navmobile{
        display: flex;
    }
    .header-container{
        display: none;
    }
    .header-container img{
        display: block;
    }
    .hamburger-menu{
        display: flex;
    }
    .navmobile img{
        display: flex;
        opacity: 0.4;
    }
    
}